<script setup lang="ts">
import Skills from "./Skills.vue";
import BioIntroduction from "./BioIntroduction.vue";
import Qualities from "./Qualities.vue";
</script>
<template>
  <main id="aboutPage" class="min-h-screen bg-zinc-100 pt-8 px-3">
    <div class="flex justify-center">
      <h1 class="page-h1 mt-4">About</h1>
    </div>
    <div>
      <Qualities />
    </div>
    <article class="grid w-full gap-5 lg:w-3/4 mx-auto sm:grid-cols-2">
      <div>
        <BioIntroduction />
      </div>
      <div>
        <Skills />
      </div>
    </article>
  </main>
</template>
