<script setup lang="ts">
const particleClass = "particle";
const particlePositionClasses = [
  "particle-1",
  "particle-2",
  "particle-3",
  "particle-4",
  "particle-5",
  "particle-6",
  "particle-7",
  "particle-8",
  "particle-9",
  "particle-10",
];
const rotateArrow = "rotate-90 inline-block";
</script>

<template>
  <div class="relative">
    <section id="homePage" class="h-screen bg-slate-900">
      <section class="flex justify-center items-center h-2/3 flex-col">
        <h1 class="text-3xl text-center text-gray-200 md:w-2/3 lg:w-1/3">
          My name is
          <span class="font-bold text-amber-700 shadow">Thomas Andersen</span
          >.<br />
          Full-stack Web Developer. Gamer. Artist.<br />
          Human.
        </h1>
        <a
          href="#aboutPage"
          id="home-link-to-about"
          class="border-2 rounded px-3 py-1 text-blue-200 text-opacity-80 mt-8 hover:bg-emerald-400 transition-colors duration-300 hover:text-black"
        >
          Go to my skills <span class="">&rarr;</span>
        </a>
      </section>
    </section>
    <div v-for="particlePositionClass in particlePositionClasses">
      <div :class="[particlePositionClass, particleClass]"></div>
    </div>
  </div>
</template>
<style scoped>
/* Rotate animation for arrow */
#home-link-to-about:hover span {
  display: inline-block;
  transform: rotate(90deg);
  transition-property: transform, color, background-color;
  transition-duration: 400ms;
}
/* #region Particle animation */
.particle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  bottom: 0%;
  animation: streaks 10s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
  z-index: 0;
}
.particle-1 {
  right: 5%;
  animation: streaks 3s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
.particle-2 {
  right: 15%;
  animation: streaks 4s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
.particle-3 {
  right: 34%;
  animation: streaks 5s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
.particle-4 {
  right: 44%;
}
.particle-5 {
  right: 55%;
  animation: streaks 4.5s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
.particle-6 {
  right: 66%;
  animation: streaks 3.7s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
.particle-7 {
  right: 80%;
  animation: streaks 5.5s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
.particle-8 {
  right: 87%;
  animation: streaks 4.7s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
.particle-9 {
  right: 96%;
}
.particle-10 {
  right: 99%;
  animation: streaks 6s cubic-bezier(0.25, 0.25, 0.25, 0.25) infinite;
}
@keyframes streaks {
  0% {
    bottom: 0%;
    width: 20px;
    height: 20px;
  }
  50% {
    bottom: 50%;
    opacity: 50%;
    width: 10px;
    height: 10px;
  }
  100% {
    bottom: 99%;
    opacity: 0%;
    width: 5px;
    height: 5px;
  }
}
/* #endregion Particle animation END */
</style>
