<script setup lang="ts"></script>

<template>
  <section class="grid sm:grid-cols-3 lg:w-3/4 mx-auto text-center my-10">
    <h2 class="hidden">Qualities</h2>
    <div>
      <!-- Flexible Icon -->
      <i class="lni lni-shuffle text-5xl"></i>
      <h3 class="text-xl font-semibold">Flexible</h3>
      <p class="w-64 mx-auto">
        As a full-stack developer, I can work on both frontend & backend tasks.
      </p>
    </div>
    <div>
      <!-- Team Player Icon -->
      <i class="lni lni-users text-5xl"></i>
      <h3 class="text-xl font-semibold">Team Player</h3>
      <p class="w-64 mx-auto">
        To be a good team player I follow standards, help, get help and listen
        to feedback.
      </p>
    </div>
    <div>
      <!-- Thorough Icon -->
      <i class="lni lni-check-box text-5xl"></i>

      <h3 class="text-xl font-semibold">Learner</h3>
      <p class="w-64 mx-auto">
        I am eager to improve and follow best practices, which I continously
        learn more of.
      </p>
    </div>
  </section>
</template>

<style scoped></style>
