<script setup lang="ts">
interface ISkill {
  name: String;
  proficiency: number;
}
const skills: ISkill[] = [];
skills.push({ name: "HTML", proficiency: 90 });
skills.push({ name: "CSS", proficiency: 75 });
skills.push({ name: "JavaScript", proficiency: 75 });
skills.push({ name: "Java", proficiency: 70 });
skills.push({ name: "C#", proficiency: 90 });
skills.push({ name: "Vue", proficiency: 75 });
skills.push({ name: "React", proficiency: 65 });
skills.push({ name: "Angular", proficiency: 60 });
skills.push({ name: "UI Design", proficiency: 60 });
skills.push({ name: "Docker", proficiency: 50 });
skills.push({ name: "Azure", proficiency: 50 });
skills.push({ name: "Photoshop", proficiency: 50 });
skills.sort((a, b) => b.proficiency - a.proficiency);
</script>

<template>
  <h3 class="text-xl font-semibold text-center">Skills</h3>
  <ul class="mb-14 max-h-custom overflow-y-auto">
    <li
      v-for="skill of skills"
      class="border-2 border-gray-400 rounded my-2 relative"
    >
      <div class="bg-gradient-to-r from-blue-600 to-blue-400" :style="`width:${skill.proficiency}%`">
        <!--First part of "Progress" Bar -->
        <div
          class="w-36 text-gray-200 pl-2 inline-block text-center"
        >
          {{ skill.name }}
        </div>
      </div>
      <span class="absolute top-0 right-0 mr-3 opacity-60"
        >{{ skill.proficiency }}%</span
      >
    </li>
  </ul>
</template>
<style scoped>
  .max-h-custom{
    max-height: 31rem; /* 496px, if 1rem = 16px */
  }
</style>

