<script setup lang="ts">
import Home from "./components/Home.vue";
import About from "./components/About.vue";
import Footer from "./components/Footer.vue";
import Contact from "./components/Contact.vue";
</script>

<template>
  <Home />
  <About />
  <Contact/>
  <Footer />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
